.roboto-roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul , li, a{
    text-decoration: none;
    list-style: none;
    color: inherit;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    background-color: #3347B0;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
}

.logo{
    width: 50px;
}

.voltar {
    display: flex;
    background-color: transparent;
    color: white;
    align-items: center;
    width: 100px;
    height: 60px;
    font-size: 20px;
    font-family: "Roboto" , sans-serif;
    text-align: center ;
    gap: 5px;
    border: none;
}

.voltar img {
    width: 35px;
}

footer{
    width: 100vw;
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
    background-color: #3347B0;
}

.redes-sociais{
    display: flex;
    gap: 5px;
}

.contatos{
    padding: 10px;
    color: rgb(175, 52, 52);
}

.contatos li{
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 20px;
    text-decoration: none;
    color: white;
}

.copy{
    color: white;
}

main{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.principal{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-style: normal;
    height: 100vh;
    gap: 20px;
    width: 30%;
    align-items: center;
    justify-content: center;
    font-style: light;
}

.principal mark{
    color: blue;
    background-color: transparent;
}

.principal img{
    width: 80%;
}

.estudante{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100vh;
}

.estudante img{
    width: 50%;
}

.botoes{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 30%;
   
}

.botoes button{
    background-color: #3347B0;
    color: white;
    box-shadow: 12px 12px 5px #3347B080;
    display: flex;
    gap: 10px;
    width: 400px;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-size: 50px;
}